In [5]:
import pandas as pd
import slate3k as slate
import re

In [52]:
folder_name=os.getcwd()+'\\'+'BVALratesPDF'

In [53]:
ffname='PHP-BVAL-Reference-Rates-Benchmark-Tenors_2020-07-01.pdf'
pattern=re.compile("Benchmark-Tenors_(\S+).pdf")
name_date=pattern.search(ffname).group(1)
name_date

'2020-07-01'

In [54]:
with open(folder_name+'\\'+ ffname, 'rb') as f:
    extracted_text = slate.PDF(f)
print(extracted_text)

['Tenor\n\nBVAL Rate Today\n\nBVAL Rate Previous Day\n\n1M\n\n3M\n\n6M\n\n1Y\n\n2Y\n\n3Y\n\n4Y\n\n5Y\n\n7Y\n\n10Y\n\n20Y\n\n25Y\n\n1.784\n\n1.835\n\n1.897\n\n2.062\n\n2.161\n\n2.261\n\n2.352\n\n2.450\n\n2.644\n\n2.818\n\n3.583\n\n3.674\n\n1.825\n\n1.903\n\n2.003\n\n2.161\n\n2.169\n\n2.262\n\n2.346\n\n2.439\n\n2.632\n\n2.795\n\n3.543\n\n3.589\n\n\x0c']

In [24]:
with open('BVALratesPDF/PHP-BVAL-Reference-Rates-Benchmark-Tenors_2020-07-01.pdf', 'rb') as f:
    extracted_text = slate.PDF(f)
print(extracted_text)

['Tenor\n\nBVAL Rate Today\n\nBVAL Rate Previous Day\n\n1M\n\n3M\n\n6M\n\n1Y\n\n2Y\n\n3Y\n\n4Y\n\n5Y\n\n7Y\n\n10Y\n\n20Y\n\n25Y\n\n1.784\n\n1.835\n\n1.897\n\n2.062\n\n2.161\n\n2.261\n\n2.352\n\n2.450\n\n2.644\n\n2.818\n\n3.583\n\n3.674\n\n1.825\n\n1.903\n\n2.003\n\n2.161\n\n2.169\n\n2.262\n\n2.346\n\n2.439\n\n2.632\n\n2.795\n\n3.543\n\n3.589\n\n\x0c']

In [88]:
subbed=re.sub(r'\\n\\n', ',', str(extracted_text))
subbed=re.sub(r'\[\'','',subbed)
subbed=re.sub(r'\\x0c\'\]','',subbed)
list_subbed=subbed.split(",")

In [103]:
#extract data needed
BVAL_today=pd.DataFrame(list_subbed)[15:27]

BVAL_today.columns=[name_date]
BVAL_today.reset_index(inplace=True)
BVAL_today=BVAL_today[[name_date]].transpose()
BVAL_today

,0,1,2,3,4,5,6,7,8,9,10,11
2020-07-01,1.784,1.835,1.897,2.062,2.161,2.261,2.352,2.450,2.644,2.818,3.583,3.674

## Now we try to loop this.

In [55]:
import os
f_names=os.listdir(folder_name)
f_names[0:5]

['PHP-BVAL-Reference-Rates-Benchmark-Tenors_2018-10-29.pdf',
 'PHP-BVAL-Reference-Rates-Benchmark-Tenors_2018-10-30.pdf',
 'PHP-BVAL-Reference-Rates-Benchmark-Tenors_2018-10-31.pdf',
 'PHP-BVAL-Reference-Rates-Benchmark-Tenors_2018-11-05.pdf',
 'PHP-BVAL-Reference-Rates-Benchmark-Tenors_2018-11-06.pdf']

In [153]:
#folder_name=r"C:\Users\Acer\Desktop\projects\DashboardCreation\BVALratesPDF"
folder_name=r"C:\Users\Acer\Desktop\projects\DashboardCreation\BVALratesPDF"
pattern=re.compile("Benchmark-Tenors_(\S+).pdf")
BVALrates=pd.DataFrame([])

for filename in f_names:
    #get the date for the BVAL rate to be extracted
    name_date=pattern.search(filename).group(1)
    #extract rates, clean using Regex
    with open(folder_name+'\\'+ filename, 'rb') as f:
        extracted_text = slate.PDF(f)
        
    subbed=re.sub(r'\\n\\n', ',', str(extracted_text))
    subbed=re.sub(r'\[\'','',subbed)
    subbed=re.sub(r'\\x0c\'\]','',subbed)
    list_subbed=subbed.split(",")
       
    BVAL_today=pd.DataFrame(list_subbed)[15:27]
    BVAL_today.columns=[name_date]
    BVAL_today.reset_index(inplace=True)
    BVAL_today=BVAL_today[[name_date]].transpose()
        
    BVALrates=BVALrates.append(BVAL_today)
BVALrates[0:10]

,0,1,2,3,4,5,6,7,8,9,10,11
2018-10-29,4.816 -,5.055 -,5.838 -,6.529 -,6.898 -,7.163 -,7.381 -,7.568 -,7.845 -,8.006 -,8.579 -,8.629 -
2018-10-30,4.696,5.053,5.863,6.553,6.850,7.152,7.419,7.643,7.915,8.030,8.513,8.673
2018-10-31,4.722,5.098,5.915,6.564,6.819,7.104,7.349,7.559,7.848,8.014,8.339,8.445
2018-11-05,4.779,5.154,5.974,6.574,6.860,7.109,7.329,7.538,7.879,8.044,8.364,8.445
2018-11-06,4.785,5.168,6.010,6.580,6.862,7.113,7.329,7.526,7.836,8.029,8.354,8.474
2018-11-07,4.802,5.193,6.022,6.594,6.839,7.077,7.284,7.475,7.794,8.019,8.475,8.509
2018-11-08,4.824,5.218,6.032,6.599,6.735,6.957,7.153,7.334,7.646,7.923,8.272,8.417
2018-11-09,4.886,5.172,5.948,6.522,6.770,6.979,7.133,7.274,7.553,7.814,8.142,8.370
2018-11-12,4.962,5.227,6.005,6.523,6.766,6.978,7.134,7.265,7.491,7.760,8.251,8.282
2018-11-13,4.979,5.262,6.083,6.575,6.768,6.958,7.088,7.189,7.349,7.636,8.142,8.212

In [155]:
BVALrates.to_csv("BVALrates_historical.csv")

## For the moving forward, we only want specific dates

In [1]:
import pandas as pd
import slate3k as slate
import re
import os

In [6]:
folder_name=r"C:\Users\j_bia\Documents\projects\FixedIncomeDashboardCreation\LatestBVALrates"
f_names=os.listdir(folder_name)

pattern=re.compile("(\S+).pdf")
BVALrates=pd.DataFrame([])

for filename in f_names:
    #get the date for the BVAL rate to be extracted
    name_date=pattern.search(filename).group(1)
    
    #extract rates, clean using Regex
    with open(folder_name+'\\'+ filename, 'rb') as f:
        extracted_text = slate.PDF(f)
        
    subbed=re.sub(r'\\n\\n', ',', str(extracted_text))
    subbed=re.sub(r'\[\'','',subbed)
    subbed=re.sub(r'\\x0c\'\]','',subbed)
    list_subbed=subbed.split(",")
       
    BVAL_today=pd.DataFrame(list_subbed)[15:27]
    BVAL_today.columns=[name_date]
    BVAL_today.reset_index(inplace=True)
    BVAL_today=BVAL_today[[name_date]].transpose()
        
    BVALrates=BVALrates.append(BVAL_today)

BVALrates.reset_index(inplace=True)
BVALrates.columns=['DATE','1M','3M','6M','1Y','2Y','3Y','4Y','5Y','7Y','10Y','20Y','25Y']
BVALrates

,DATE,1M,3M,6M,1Y,2Y,3Y,4Y,5Y,7Y,10Y,20Y,25Y
0,2020-07-20,1.553,1.579,1.649,1.824,2.062,2.197,2.302,2.396,2.563,2.728,3.669,3.748
1,2020-07-21,1.515,1.528,1.636,1.821,2.038,2.168,2.284,2.389,2.562,2.740,3.669,3.745
2,2020-07-22,1.510,1.510,1.620,1.816,2.038,2.179,2.295,2.395,2.563,2.737,3.635,3.741
3,2020-07-23,1.502,1.503,1.617,1.817,2.037,2.186,2.305,2.410,2.579,2.744,3.585,3.767
4,2020-07-24,1.498,1.501,1.613,1.807,2.034,2.200,2.337,2.464,2.683,2.857,3.542,3.757
5,2020-07-27,1.493,1.495,1.606,1.810,2.058,2.215,2.351,2.490,2.721,2.797,3.573,3.852
6,2020-07-28,1.456,1.456,1.593,1.783,2.062,2.192,2.314,2.445,2.688,2.776,3.568,3.867
7,2020-07-29,1.323,1.429,1.604,1.804,2.034,2.171,2.289,2.412,2.648,2.793,3.545,3.837
8,2020-07-30,1.293,1.429,1.606,1.805,2.044,2.190,2.319,2.443,2.642,2.775,3.532,3.883
9,2020-08-03,1.263,1.388,1.609,1.794,2.020,2.182,2.323,2.450,2.639,2.759,3.594,3.672
10,2020-08-04,1.211,1.335,1.573,1.790,2.013,2.173,2.310,2.431,2.635,2.747,3.631,3.669
11,2020-08-05,1.195,1.310,1.561,1.790,2.023,2.159,2.285,2.412,2.633,2.739,3.629,3.668
12,2020-08-06,1.196,1.311,1.558,1.789,2.006,2.146,2.277,2.402,2.614,2.721,3.616,3.664
13,2020-08-07,1.181,1.288,1.535,1.790,2.009,2.143,2.265,2.381,2.585,2.693,3.588,3.665
14,2020-08-10,1.167,1.276,1.537,1.797,2.037,2.158,2.267,2.373,2.574,2.695,3.609,3.672
15,2020-08-11,1.160,1.261,1.507,1.786,1.989,2.131,2.264,2.391,2.614,2.760,3.605,3.663
16,2020-08-12,1.167,1.259,1.498,1.791,2.020,2.174,2.314,2.447,2.653,2.778,3.564,3.633
17,2020-08-13,1.148,1.241,1.490,1.779,2.029,2.184,2.334,2.466,2.648,2.743,3.453,3.647
18,2020-08-14,1.137,1.237,1.489,1.779,2.006,2.183,2.343,2.477,2.636,2.704,3.499,3.591
19,2020-08-17,1.125,1.215,1.482,1.781,2.050,2.184,2.303,2.408,2.562,2.627,3.530,3.597
20,2020-08-18,1.112,1.209,1.456,1.783,2.043,2.173,2.292,2.400,2.563,2.628,3.537,3.596
21,2020-08-19,1.112,1.203,1.450,1.786,2.046,2.174,2.287,2.392,2.563,2.641,3.531,3.595
22,2020-08-20,1.111,1.191,1.437,1.787,2.012,2.150,2.273,2.389,2.571,2.639,3.578,3.653
23,2020-08-24,1.118,1.188,1.443,1.787,2.035,2.174,2.288,2.392,2.579,2.689,3.587,3.654
24,2020-08-25,1.119,1.191,1.431,1.785,2.036,2.160,2.273,2.380,2.561,2.684,3.614,3.668
25,2020-08-26,1.120,1.194,1.429,1.790,2.072,2.224,2.364,2.490,2.659,2.785,3.484,3.654

In [3]:
historical=pd.read_csv("PHreferencerates.csv")
historical.head()

,DATE,1M,3M,6M,1Y,2Y,3Y,4Y,5Y,7Y,10Y,20Y,25Y
0,2007-03-19 00:00:00,3.8,3.90,4.400,4.80,5.4000,5.5500,5.8000,6.0000,6.7500,7.3000,8.60,8.875
1,2007-03-20 00:00:00,3.9,2.95,3.462,4.80,5.3750,5.4700,5.8000,5.9100,6.6000,7.3000,8.60,9
2,2007-03-21 00:00:00,3.9,4.00,3.400,4.95,5.1750,5.6000,5.8500,5.9650,6.7500,7.3750,8.75,9.1
3,2007-03-22 00:00:00,3.9,3.95,4.400,4.80,5.2500,5.6000,5.9250,6.0750,6.9000,7.4000,8.70,9.1
4,2007-03-23 00:00:00,3.9,3.95,4.450,4.65,5.1734,5.4043,5.7147,5.8617,6.6833,7.1428,8.60,9

In [4]:
historical.tail()

,DATE,1M,3M,6M,1Y,2Y,3Y,4Y,5Y,7Y,10Y,20Y,25Y
3237,2020-07-13,1.584,1.682,1.730,1.876,2.027,2.154,2.264,2.372,2.578,2.753,3.675,3.724
3238,2020-07-14,1.565,1.641,1.706,1.870,2.028,2.144,2.236,2.324,2.513,2.697,3.709,3.785
3239,2020-07-15,1.558,1.613,1.697,1.844,2.035,2.147,2.236,2.324,2.515,2.700,3.722,3.805
3240,2020-07-16,1.555,1.603,1.683,1.843,2.071,2.187,2.280,2.376,2.562,2.711,3.728,3.808
3241,2020-07-17,1.577,1.587,1.660,1.838,2.048,2.189,2.297,2.396,2.574,2.722,3.681,3.742

In [7]:
updated=pd.concat([historical,BVALrates],ignore_index=True)
updated.set_index('DATE',inplace=True)

In [8]:
updated.tail()

,1M,3M,6M,1Y,2Y,3Y,4Y,5Y,7Y,10Y,20Y,25Y
DATE,,,,,,,,,,,,
2020-08-19,1.112,1.203,1.450,1.786,2.046,2.174,2.287,2.392,2.563,2.641,3.531,3.595
2020-08-20,1.111,1.191,1.437,1.787,2.012,2.150,2.273,2.389,2.571,2.639,3.578,3.653
2020-08-24,1.118,1.188,1.443,1.787,2.035,2.174,2.288,2.392,2.579,2.689,3.587,3.654
2020-08-25,1.119,1.191,1.431,1.785,2.036,2.160,2.273,2.380,2.561,2.684,3.614,3.668
2020-08-26,1.120,1.194,1.429,1.790,2.072,2.224,2.364,2.490,2.659,2.785,3.484,3.654

In [10]:
updated.to_csv("PHreferencerates.csv")